* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Caladea,sans-serif;
}

.rt-link, a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}